In [36]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
from splinter import Browser

In [37]:
def init_browser():
    executable_path = {"executable_path":"/Users/Zachk/Desktop/chromedriver.exe"}
    return Browser('chrome', **executable_path,headless=False)

In [38]:
url_1 = 'https://mars.nasa.gov/news/'
url_2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
url_3 = 'https://twitter.com/marswxreport?lang=en'
url_4 = 'http://space-facts.com/mars/'
url_5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [39]:
browser=init_browser()
browser.visit(url_1)
title= browser.find_by_css('.content_title').first.text
news= browser.find_by_css('.article_teaser_body').first.text
print(title, "\n" + news)

Mars Helicopter to Fly on NASA’s Next Red Planet Rover Mission
NASA is adding a Mars helicopter to the agency’s next mission to the Red Planet, Mars 2020.

In [40]:
browser=init_browser()
browser.visit(url_2)
browser.find_by_id('full_image').click()
featured_image=browser.find_by_css('.fancybox-image').first['src']
print(featured_image)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA18245_ip.jpg

In [41]:
browser=init_browser()
browser.visit(url_3)
for text in browser.find_by_css('.tweet-text'):
    if text.text.partition(" ")[0] == 'Sol':
        weather = text.text
    break
    

print(weather)

Sol 2047 (May 10, 2018), Sunny, high 3C/37F, low -71C/-95F, pressure at 7.33 hPa, daylight 05:22-17:20

In [42]:
df= pd.read_html(url_4, attrs = {'id': 'tablepress-mars'})[0]
df = df.set_index(0).rename(columns={1:'value'})
del df.index.name
facts = df.to_html()
print(facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>